*{
    font-family: 'Roboto';
}

html,
body {
  margin: 0;
  padding: 0;
}

.background{
    background-image: linear-gradient(to bottom right,rgb(255,188,162),rgb(162,229,255));
    /* background-image: linear-gradient(to bottom right, rgb(105,185,210),rgb(115,115,201)); */
    background-image: linear-gradient(to bottom right,rgb(235, 143, 141),rgb(123, 183, 243));
    padding: 0;
    height: 100vh;
}

.title{
    display: flex;
}

.title h1{
    padding:10px;
    /* margin-left: 20px; */
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    /* background-color: rgb(192,192,192); */
    font-size: 30px;
}

.Login-box{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content:center;
    align-items:center;
}

.login-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex:1;
    height: 10px;
}

.login-info input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    outline:none;
    border-radius: 5px;
    border: none;
}

.login-info input:focus{
    border: 2px solid rgb(192,192,192);
    padding: 2px;
}

.login-info input::placeholder{
    padding-left: 2px;
}

.get-active{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.active-btn{
    border-radius: 10px;
    outline:none;
    font-size: 18px;
    background-color: rgb(192,192,192);
    background-color: rgb(167, 199, 231);
    transition: background-color 0.5s;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
}

.active-rooms{
    font-size: 18px;
}

.basic-btn{
    background-color: rgb(255,188,162);
    transition: background-color 0.5s;
    border: none;
    height: 2em;
    margin-left: 5px;
    border-radius: 5px;
}

.basic-btn:hover{
    background-color: rgb(192,192,192);
}

.join-button{
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 10px;
    outline:none;
    background-color: rgb(192,192,192);
    transition: background-color 0.5s;
    border: none;
    align-self: center;
    margin-bottom: 50px;

    margin-top: 20px;

    background-color: rgb(167, 199, 231);
}

.join-button:hover,.active-btn:hover{
    background-color: rgb(255,188,162);
}

.homePage{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    flex-grow:1;
}

.room-title{
    background-color: rgb(192,192,192);
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}

.chat-section{
    flex-basis: 1000px;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    min-width: 300px;
}

.chat{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 500px;
    flex-shrink: 0;
    background-color: rgb(255,243,239);
    border-radius: 10px;
}

.own-message{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 15px;
    margin-top:0.25em;
    margin-bottom: 0.25em;
    max-width: 600px;
    overflow-wrap: break-word;
}

.timestamp{
    margin-bottom: 0;
    align-self: flex-end;
}

.message-body{
    background-color: rgb(162,229,255);
    margin-bottom: 0;
    border-radius: 5px;
    padding:5px;
    max-width: 500px;
    font-size: 18px;
}

.message-body-other{
    background-color: lightgray;
    margin-bottom: 0;
    border-radius: 5px;
    padding:5px;
    max-width: 500px;
    font-size: 18px;
}

.other-message{
    align-self: flex-start;
    margin-left: 15px;
    margin-top:0.25em;
    margin-bottom: 0.25em;
    overflow-wrap: break-word;
}

.admin-message{
    background-color: rgb(255,235,162);
    align-self: center;
    font-size: 16px;
    margin-top:0.25em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    padding:5px;
}

.user-title{
    background-color: rgb(	184,184,184);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.users{
    margin-top: 0px;
    margin-bottom: 40px;
    height: 200px;
    overflow-y:auto;
    /* padding:30px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255,243,239);
}

.message-section{
    min-width: 0;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.message-input{
    flex-grow: 4;
    height: 2em;
    border-radius: 8px;
    border: none;
    background-color: rgb(255,243,239);
    min-width: 0;
    flex: 7 2 0;
}

.basic-btn.send{
    min-width: 0;
    flex: 1 1 0;
}

.message-input::placeholder{
    padding-left: 3px;
}

.message-input:focus{
    border: 2px solid rgb(192,192,192);
    padding: 2px;
    outline: none;
}

.basic-btn:focus{
    border: 2px solid rgb(192,192,192);
    outline: none;
}

.user-section{
    align-self: start;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    margin-left: 20px;
    min-width: 125px;
}